body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
}


.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    margin:0;
    padding:32px;
    color:white;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-left:8px;

}

.header-links {
    display:flex;
    margin:0;
    padding:0;
    justify-content: space-between;
    align-items: center;
    gap:16px;
    list-style-type: none;
}

.header-links a:hover {
    color: rgb(148, 18, 18)
}

.content-top {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 32px;
    padding-bottom: 32px;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 48px;
    padding-left:32px;
    padding-right:32px;
    
    
}
.content-top h1 {
    font-weight: 800;
}
.content-top p {
    font-size: 18px;
    color: #e5e7eb
}

.content-pic {
    display: flex;
    
}
    


#content-marines {
    max-width:auto;
    max-height: 500px;
    
}

.content-top button{
    background-color: #3882F6;
    padding:6px;
    border:none;
    width: 90px;
    border-radius: 8px;
    color: white;
}

.info-head{
    display:flex;
    justify-content:center;
    font-size: 36px;
    color:#1F2937;
    font-weight: 800;
    padding-top: 16px;
    padding-bottom: 16px;
}
.info-body{
    display:flex;
    justify-content: center;
    gap:52px;
    flex-wrap: wrap;
    padding-bottom: 32px;
    
    
}
.info-content {
    justify-content: center;
    width:250px;
    text-align: center;
    
}
.chaos_symbol {
    height:200px;
    width: 250px;
    border-radius: 8px;
}

.quote-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left:375px;
    padding-right: 375px;
    padding-top:150px;
    padding-bottom:150px;
    background-color: #e5e7eb;
    
    
    }
.quote {
    color:#1F2937;
    font-size: 36px;
}



.quote-name {
    display:flex;
    margin-left:auto;
    
}

.bottom-section {
    padding:48px;

}
.bottom-container {
    background-color: #3882F6;
    display: flex;
    border-radius:8px;
    justify-content: space-between;
    padding-left:100px;
    padding-right:100px;
    gap:50px;
    
}

.bottom-text {
    margin-left:auto;
    color:white;
}

.bottom-button {
    margin-right:auto;
    
    align-items: center;
    display: flex;
    
}


.bottom-button button {
    color:white;
    background-color: #3882F6;
    border-radius: 8px;
    border-color: white;
    padding: 6px;
    width:90px;

}

.footer {
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:32px;
    color:white;
}
    









@media (max-width: 800px) {
    .content-top {
        flex-wrap: wrap;
    }
  }